<div>
    <div nz-form nzLayout="inline" [formGroup]="searchForm" class="common-header">
        <button nz-button nzType="primary" (click)="showCreateDialog()">新增</button>
        <button nz-button nzType="primary" nzDanger nz-popconfirm nzPopconfirmTitle="确定要删除选择的吗" (nzOnCancel)="deleteCancel()" (nzOnConfirm)="deleteSelectByID()">删除</button>
        <button nz-button nzType="primary" (click)="refresh.emit()">刷新</button>
        <div  *ngFor="let search of searchQuestions">
            <nz-form-item *ngIf="search.isEnum; else elseBlock">
                <nz-form-label [nzSpan]="12" nzNoColon>{{search.Description}}</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <div *ngIf="search.isTags; else tagsBlock">
                        <nz-select style="width: 300px;" nzMode="tags" [nzDropdownMatchSelectWidth]="false" nzSize="small" nzShowSearch nzAllowClear [nzPlaceHolder]="search.Description" [formControlName]="search.id">
                            <nz-option *ngFor="let select of search.Enum" [nzLabel]="select.N" [nzValue]="select.V"></nz-option>
                        </nz-select>
                    </div>
                    <ng-template #tagsBlock>
                        <nz-select style="width: 100px;" [nzDropdownMatchSelectWidth]="false" nzSize="small" nzShowSearch nzAllowClear [nzPlaceHolder]="search.Description" [formControlName]="search.id">
                            <nz-option *ngFor="let select of search.Enum" [nzLabel]="select.N" [nzValue]="select.V"></nz-option>
                        </nz-select>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <ng-template #elseBlock>
                <nz-form-item *ngIf="search.Type !== 'object'">
                    <nz-form-label [nzSpan]="10" nzNoColon>{{search.Description}}</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input [formControlName]="search.id" [placeholder]="search.Description" nzSize="small">
                    </nz-form-control>
                </nz-form-item >
            </ng-template>
        </div>
    </div>

    <div>
        <nz-table
            #rowSelectionTable
            nzShowPagination
            nzShowSizeChanger
            [nzBordered]="resourceUrl === 'LogicIdcEnv'"
            [nzFrontPagination]="false"
            (nzCurrentPageDataChange)="onCurrentPageDataChange()"
            [nzData]="data"
            [nzTotal]="total"
            [nzPageSize]="pageSize"
            [nzPageIndex]="pageIndex"
            [nzScroll]="colNames?.length > 5 ? { x:  '2400px' } : null "
            [nzLoading]="isLoadingResults"
        >
            <thead>
            <tr>
                <th rowSpan="2" nzLeft nzWidth="30px" [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
                <th rowSpan="2" nzWidth="80px" nzLeft>ID</th>
              <ng-container *ngFor="let col of colNames"  >
                <th [rowspan]="col.colspan ? 1 : 2" [colspan]="col.colspan ? 2 : 1" [nzWidth]="col.type === 'object' || col.type === 'array' ? '150px' : 'auto'">{{col.name}}</th>
              </ng-container>
<!--                <th>DingTalkUserID</th>-->
<!--                <th>State</th>-->
<!--                <th>Mail</th>-->
<!--                <th>Mobile</th>-->
<!--                <th>Password</th>-->
<!--                <th>Username</th>-->
<!--                <th>RealName</th>-->
<!--                <th>ReplicaSetMembers</th>-->
                <th rowSpan="2" nzWidth="200px">创建时间</th>
                <th rowSpan="2" nzWidth="200px">更新时间</th>
                <th rowSpan="2" nzRight nzWidth="120px">操作</th>
            </tr>
            <tr>
              <ng-container *ngFor="let col of colNames">
                <ng-container *ngIf="col.colspan">
                  <th >名字</th>
                  <th style="width: 200px" >显示名</th>
                </ng-container>
              </ng-container>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
                <td nzLeft
                    [nzChecked]="setOfCheckedId.has(data.ID)"
                    [nzDisabled]="data.disabled"
                    (nzCheckedChange)="onItemChecked(data.ID, $event)"
                ></td>
                <td nzLeft>{{ data.ID }}</td>
<!--                <td>{{ data.DingTalkUserID }}</td>-->
<!--                <td>{{ data.State }}</td>-->
<!--                <td>{{ data.Mail }}</td>-->
<!--                <td>{{ data.Mobile }}</td>-->
<!--                <td>{{ data.Password }}</td>-->
<!--                <td>{{ data.Username }}</td>-->
<!--                <td>{{ data.RealName }}</td>-->
<!--                <td>{{ data.ReplicaSetMembers }}</td>-->
              <ng-container *ngFor="let col of colNames">
                <ng-container *ngIf="col.colspan; else colspanBlock">
                  <td> {{ data[col.id]?.Name }} </td>
                  <td>{{ data[col.id]?.DisplayName  }}</td>
                </ng-container>
                <ng-template #colspanBlock>
                  <td >
                    <!--                    <span *ngIf="col.type === 'object' || col.type === 'array'; else spanBlock" nz-tooltip [nzTooltipTitle]="contentTemplate">{{data[col.id]}}</span>-->
                    <button *ngIf="col.type === 'object' || col.type === 'array'; else spanBlock" nzType="default" nz-button nz-popover [nzPopoverContent]="contentTemplate">
                      <!--                        {{ col.type === 'object' ? data[col.id] : '[object Object]'}}-->
                      [object Object]
                    </button>
                    <ng-template #spanBlock>
                      <span *ngIf="col.type === 'relation'; else typeBlock">{{ data[col.id]?.Name || data[col.id]?.Username || data[col.id]?.ID }}</span>
                      <ng-template #typeBlock>{{ col.list ? getEnum(data[col.id], col.list) : data[col.id]}}</ng-template>
                    </ng-template>
                    <ng-template #contentTemplate>
                      <!--                        <span>{{data[col.id] | json}}</span>-->
                      <nz-descriptions [nzTitle]="col.name" nzBordered>
                        <nz-descriptions-item *ngFor="let item of objectData(data[col.id], col.id)" [nzTitle]="item.title">
                          <div *ngIf="item.isArray; else stringContent">
                            <div *ngFor="let t of item.content">{{t | json}}</div>
                          </div>
                          <ng-template #stringContent>{{item.content || item.content | json }}</ng-template>
                        </nz-descriptions-item>
                      </nz-descriptions>
                    </ng-template>
                  </td>
                </ng-template>
              </ng-container>

                <td>{{ data.CreatedAt | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>{{ data.UpdatedAt | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td nzRight>
                    <div style="display: flex;">
                        <button nz-button nzType="text" (click)="showEditDialog(data)">
                            <i nz-icon nzType="edit" nzTheme="outline"></i>
                        </button>
                        <a nz-button nzType="text" routerLink="relation">
                            <i nz-icon nzType="search" nzTheme="outline"></i>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </nz-table>
    </div>
</div>

