.array-forms {
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-around;
  align-items: center;
  width: 100%;
  flex: 1;
  .array-form {
    border: 1px solid #b7eb8f;
    height: 100%;
    position: relative;
    top: -15px;
    margin-left: 10px;
    .ant-form-item {
      margin-bottom: 0px;
      margin-top: 24px;
    }
  }
  i {
    position: relative;
    top: 12px;
    left: 16px;
    font-size: 16px;
    z-index: 2;
    cursor: pointer;
  }
}
.object-form {
  border: 1px solid #91d5ff;
}
.add-item-icon {
  margin-left: 15px;
  font-size: 16px;
  cursor: pointer;
}
.object-form .array-item {
  flex-direction: column;
}
