<form nz-form nzLayout="horizontal" [formGroup]="editForm">
  <div *ngFor="let question of questions;">
    <nz-form-item *ngIf="question.isEnum; else elseBlock">
      <nz-form-label [nzSpan]="8" nzNoColon>{{question.Description}}</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-select [nzDropdownMatchSelectWidth]="false" nzSize="small" nzShowSearch nzAllowClear [nzPlaceHolder]="question.Description" [formControlName]="question.id">
          <nz-option *ngFor="let select of question.Enum" [nzLabel]="select.N" [nzValue]="select.V"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <ng-template #elseBlock>
      <nz-form-item [ngSwitch]="question.Type">
        <nz-form-label [nzSpan]="8" nzNoColon>{{question.Description}}</nz-form-label>
        <nz-form-control [nzSpan]="14" *ngSwitchCase="'string'">
          <input nz-input [formControlName]="question.id" [placeholder]="question.Description" [readonly]="question.id === 'ID' || (mode === 'edit' && question.Immutable)" nzSize="small">
        </nz-form-control>
        <nz-form-control [nzSpan]="14" *ngSwitchCase="'integer'">
          <nz-input-number [formControlName]="question.id" nzSize="small" [nzDisabled]="question.id === 'ID' || question.Immutable"></nz-input-number>
        </nz-form-control>
        <div *ngSwitchCase="'object'">
          <div *ngIf="question.Properties" app-common-form [selectList]="question.Enum" [questions]="question.Properties" [editForm]="editForm.get(question.id)" [mode]="mode"></div>
        </div>
        <div *ngSwitchCase="'array'">
          <div app-common-form [editForm]="getFormArray(question.id, question).at(0)" [mode]="mode" [selectList]="question.Items.Enum" [questions]="question.Items.Properties"></div>
<!--          <div [formArrayName]="getFormArray(question.id, question)">-->
<!--            <div *ngFor="let num of question.arrItems; let i = index">-->
<!--              <div *ngFor="let q of num.Properties">-->
<!--                <nz-form-item>-->
<!--                  <nz-form-label [nzSpan]="8">{{q.Description}}</nz-form-label>-->
<!--                  <nz-form-control [nzSpan]="14">-->
<!--                    <input nz-input [formControlName]="q.id" [placeholder]="q.Description" nzSize="small">-->
<!--                  </nz-form-control>-->
<!--                </nz-form-item>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </nz-form-item >
    </ng-template>
  </div>
</form>
