/* You can add global styles to this file, and also import other style files */

.common-header button {
  margin-right: 16px;
}
.common-header ::ng-deep .ant-form-inline .ant-form-item{
  margin: 5px 0;
}

.btns{
  text-align: right;
  button{
    margin: 0 8px;
  }
}
